<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="vn-native-2-example-library" version="1.0.12">
    <name>Vn Native example library</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>vnnative,example library</keywords>
    <asset src="www/example-library.js" target="www/example-library.js"/>
    <js-module src="www/example-library.js" name="examplelibrary">
        <clobbers target="echo" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Echo">
                <param name="ios-package" value="Echo" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/Echo.h" />
        <source-file src="src/ios/Echo.m" />
    </platform>
</plugin>